.u-section-1 .u-sheet-1 {
  min-height: 925px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 80px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
  min-height: 320px;
  grid-gap: 19px 19px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-1 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-2 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-3 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-4 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-5 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 40px 30px 27px;
}

.u-section-1 .u-icon-6 {
  height: 44px;
  width: 44px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 80px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 12.6667px));
    min-height: 264px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(37, 103, 249) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(37, 103, 249) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.50003px));
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 70px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 54px;
    margin-bottom: 17px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 1303px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -393px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}