 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.35), rgba(71,138,201,0.35)), url("images/pexelsphoto1897359.jpeg");
  background-position: 100% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-group-1 {
  width: 983px;
  min-height: 305px;
  margin: 515px auto 58px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-2 {
  width: 501px;
  margin: 20px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-group-1 {
    min-height: 354px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    line-height: 1.6;
    width: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 413px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 306px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 673px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/11.jpg");
  background-position: 50% 50%;
  min-height: 673px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 673px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 79px 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-link-1 {
  padding-bottom: 2px;
  margin: 50px auto 65px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/pexelsphoto534247.jpeg");
  min-height: 673px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 65px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 79px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/21.jpg");
  background-position: 50% 50%;
  min-height: 638px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pexelsphoto1381782.jpeg");
  min-height: 316px;
  background-position: 50% 46.71%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 322px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 25px 0;
}

.u-section-3 .u-image-3 {
  min-height: 322px;
  background-image: url("images/pexelsphoto1842621.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  min-height: 479px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/3.jpg");
  min-height: 479px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/pexelsphoto1029611.jpeg");
  min-height: 479px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 479px;
  background-image: none;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 35px 20px 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 20px 20px 0;
}

.u-section-4 .u-link-1 {
  padding-bottom: 2px;
  margin: 20px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/pexelsphoto1738986.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/4.png");
  min-height: 500px;
  background-position: 79.3% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  min-height: 388px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 388px;
  background-image: none;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 40px 20px 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 20px 20px 0;
}

.u-section-6 .u-link-1 {
  padding-bottom: 2px;
  margin: 20px auto 40px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pexelsphoto1886516.jpeg");
  min-height: 388px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/pexelsphoto1832690.jpeg");
  min-height: 388px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/5.png");
  min-height: 388px;
  background-position: 80.16% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  min-height: 593px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/pexelsphoto1749825.jpeg");
  min-height: 593px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/6.png");
  min-height: 593px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  min-height: 593px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 593px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 40px 20px 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  letter-spacing: 1px;
  margin: 20px 20px 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 21px auto 40px;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-image-1 {
  background-image: url("images/pexelsphoto691710.jpeg");
  background-position: 50% 50%;
  min-height: 593px;
}

.u-section-8 .u-image-2 {
  min-height: 593px;
  background-image: url("images/pexelsphoto1963478.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}